body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: $color-light;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $color-bright;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: $color-white;
}
