$color-light: rgb(247, 188, 198);
$color-grey: rgb(111, 111, 111);
$color-white: #fff;
$color-unaccent: #808080;

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-big: 30px;

$linear-gradient: linear-gradient(0.08turn, rgb(255, 167, 181), rgb(255, 144, 163), rgb(255, 122, 145), rgb(251, 95, 121), rgb(255, 77, 107));

$box-shadow: 0px 0px 20px 10px rgb(253, 164, 179);
$border-radius: 3px;
