.shopping-container {
    width: 97%;
    height: 97vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: $spacing-bigger;
    background-color: $color-white;
    box-shadow: $box-shadow;
}

.shopping__close {
    position: absolute;
    height: 35px;
    width: 35px;
    top: $spacing-big;
    right: $spacing-big;
    background-image: url(/assets/img/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
        transform: rotate(20deg);
        transition-duration: .3s;
    }
}

.shopping-element__name {
    padding: $spacing-small;
    font-weight: bold;
    color: $color-grey;
    text-transform: uppercase;
}

.shopping-element__price {
    padding: $spacing-medium;
    color: $color-unaccent;
}
